body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

h1 {
    width: 100%;
    position: fixed;
    text-align: center;
}



td {
    border: 1px solid;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

th {
    border: 1px solid;
    margin: 20px;
    padding: 10px;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}




li {
    text-align: center;
    padding-left: 100%;
    padding-right: 100%;
    color: white;
    display: block;
    padding: 8px;
    background-color: gray;
    width: 100%;
}

li img {
    text-align: left;
}

input[type=submit] {

    background-color: purple;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;

}

label {
    margin-right: 5%;
}