.header {
    display: flex;
    justify-content: center;
    background-color: gray;

}

.elememt {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20%;
}

table {
    width: 75%;
    border: 2px solid;
}

th {
    border: 1px solid;
}

td {
    border: 0.75px solid;
    text-align: center;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}